$primary-color: #000; //#8c8771;
$secondary-color: #AAA; //#E8AA98;
$secondary-color-light: #DDD; //#edd6cf;

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin transform($params) {
  -webkit-transform: $params;
  -moz-transform: $params;
  -o-transform: $params;
  -ms-transform: $params;
  transform: $params;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a {
  color: $primary-color;
  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.wrap {
  min-height: 100%;
  padding-bottom: 100px;
}

.site-logo {
  display: block;
  padding: 20px 0 30px 0;
  img {
    height: 120px;
  }
}

footer {
  margin-top: -100px;
  text-align: center;
  line-height: 100px;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'Lora', serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 18px;
}

h2, .h2 {
  font-size: 16px;
}

h3, .h3 {
  font-size: 14px;
}
h1.title {
  margin: 0 0 20px 0;
}

.navbar-brand {
  font-size: 28px;
  line-height: 24px;
  font-family: "Amiri", serif;
}

.navbar-nav {
  > li {
    > a {
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.dropdown-menu {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  > li {
    > a {
      padding: 5px 15px;
      text-transform: uppercase;
      color: $primary-color;
      background-color: transparent;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $secondary-color;
        background-color:  transparent;
      }
    }
  }
}

.nav .open > a {
  &,
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.cards {
  margin: -6px;
  overflow: hidden;
}

.card {
  cursor: pointer;
  padding: 6px;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }
  }
  h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 0;
  }
  &-content {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    color: #000;
    width: 100%;
    height: 100%;
    margin: -6px;
    padding: 20px 35px;
  }
  &:hover {
    .card-content {
      visibility: visible;
      background: rgba(255,255,255,0.7);
      @include transition(background 0.2s ease-in-out);
      text-shadow: 0 0 1px #FFFFFF;
    }
    a:hover {
      color: #000000;
    }
  }
}

.image {
  padding: 10px 5px;
}

.img-none {
  border: 1px solid $secondary-color-light;
}

.container {
  img {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar {
    border: none;
    &-simple {
      .navbar-nav {
        border-top: 1px solid $secondary-color-light;
        float: none;
        > li {
          float: none;
          display: inline-block;
          > a {
          }
        }
      }
    }
  }

  .navbar-brand {
    display: none;
  }

  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 769px) {
  .site-logo {
    display: none;
  }
  header {
    .container {
      padding: 0;
    }
    .navbar {
      border-bottom: 1px solid $secondary-color-light;
    }
  }
  .navbar-toggle {
    border-color: #CCC;
    .icon-bar {
      background: #999;
    }
  }
  .navbar-nav .open {
    .dropdown-menu {
      background-color: #f5f5f5;
      text-align: center;
      font-size: 12px;
    }
  }
  .container {
    img {
      height: auto !important;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 840px;
  }
}